.bazarow_add_favor {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9;
	background: none;
	opacity: 0.5;
	border: none;
	padding: 0;
	filter: grayscale(100%);
  }
  .bazarow_add_favor svg {
	width: 20px;
	height: 20px;
  }
  
  .bazarow_add_favor.in-favor {
	opacity: 1;
	filter: grayscale(0%);
  }
  

  .offers-block{
	padding: 0 15px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px 15px;
	padding-bottom: 15px;
  }
  .offers-block:first-child(){
	width: 100%;
  }

  .card_item_sku_title {
	font-size: 10px;
	color: #777777;
	margin: 10px 0px 4px 0px;
  }
  .card_item_sku ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 3px;
	flex-wrap: wrap;
  }
  .card_item_sku ul li {
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 4px;
  }
  .card_item_sku ul li:hover {
	border: 1px solid #333;
  }
  .card_item_sku ul li.selected {
	border: 1px solid #333;
  }
  .card_item_sku_pict {
	padding: 5px;
  }
  .card_item_sku_pict span {
	display: block;
	width: 25px;
	height: 25px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  }
  .card_item_sku_text {
	font-size: 10px;
	padding: 0px 5px;
  }
  
  
  .card_item_hidded {
	display: none;
	z-index: 10;
  }
  
  
  .mt-product1 {
	width: 100%;
  }
  .mt-product1 .links-box {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
	background: #fff;
    width: 100%;
    visibility: hidden;
    position: absolute;
    border: 1px solid #eee;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}
.mt-product1:hover .links-box {
	padding-bottom: 50px;
	opacity: 0.9;
	visibility: visible;
}
.mt-product1 ul.links {
	z-index: 10;
}

.mt-product1 .mt-stars {
    top: 0;
}
.mt-product1 .mt-stars .bx-rating {
    text-align: left;
}
.mt-product1 .mt-stars .bx-rating svg path{
    fill: orange;
}

  .b2-link{
	overflow: hidden;
  }
  .b2-img{
	display: block;
	margin: 0 auto;
	width: 275px;
	height: 290px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  }

  .btn-reset {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
  }

  .mt-product1.large .price {
	font-size: 23px;
	display: flex;
	gap: 10px;
  }
  .mt-product1 .b2 .caption {
	top: 0;
	right: 0;
	left: auto;
  }

  .compare-input-label{
	cursor: pointer;
  }

  .compare-input{
	height: 1px;
	width: 1px;
	opacity: 0;
  }
  .compare-input:checked ~ i{
	color: #ff6060;
  }